# Compiled PyTorch and raw bin
*.safetensors

# Do not ignore CoreML package internal contents
!*.mlpackage/**/*.mlmodel
!*.mlpackage/**/*.bin

# Secrets
ePdfUB/Core/Secrets.swift
ePdfUB/Config.xcconfig

# Build directories
.build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
